<!DOCTYPE html>
<html>
<head>
	<title>Real time web chat</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.css">
	<script src="https://fdc-signal.inn-devel.com:4501/socket.io/socket.io.js"></script>
	<script src="/js/jquery-2.1.4.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/chat.js"></script>
	
	<style>
		.back{
			background-repeat: no-repeat;
		}
		#users li{
			cursor: pointer;
		}
		#users li:hover{
			background-color: #ccc;
		}
	</style>

</head>